<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					  <li class="active"><a href="">Галерея</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
				<button class="pull-right btn btn-primary" data-toggle="modal" data-target="#addPhotoModal"><span class="glyphicon glyphicon-plus"></span> Добавить фотографии</button>
				  <h1>{{ gallary.title }}</h1>
				</div>
				<div class="row">
                {% for photo in photos %}
                    <div class="col-md-4 photo" data-photo-id="{{ photo.id }}" data-slick-index="{{ loop.index }}">
						<div class="album-manage">
							<button type="button" class="delete-photo js-delete-photo">&times;</button>
							<button type="button" class="glyphicon glyphicon-paperclip js-main-photo main-photo">
						</div>
						<div class="reestablish">
							<button class="btn btn-default">Восстановить</button>
						</div>
						<img src="/static/img/picturs/{{ photo.path }}" alt="" class="img-responsive img-thumbnail">
					</div>
                {% endfor %}
				</div>
                <ul class="pagination">
                    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                    <a href="{% if pagination.has_prev %}/galleries/{{ gallary.id }}/page/{{pagination.page - 1}}{% else %}#{% endif %}"> &laquo;
                    </a> </li>
                        {% for p in pagination.iter_pages() %}
                            {% if p %}
                                {% if p == pagination.page %}
                    <li class="active">
                    <a href="/galleries/{{ gallary.id }}/page/{{p}}">{{ p }}</a>
                    </li>
                    {% else %}
                    <li>
                    <a href="/galleries/{{ gallary.id }}/page/{{p}}">{{ p }}</a>
                    </li>
                                {% endif %}
                            {% else %}
                    <li class="disabled"><a href="#">&hellip;</a></li>
                            {% endif %}
                        {% endfor %}
                    <li{% if not pagination.has_next %} class="disabled"{% endif %}> <a href="{% if pagination.has_next %}/galleries/{{ gallary.id }}/page/{{pagination.page + 1 }}{% else %}#{% endif %}">
                    &raquo;
                    </a> </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="modal-photo">
		<span class="close glyphicon glyphicon-remove js-close-modal"></span>
		<div class="modal-photo__list">
            {% for photo in photos %}
			<div class="modal-photo__item photo" data-photo-id="{{ photo.id }}">
				<img src="/static/img/picturs/{{ photo.path }}" alt="" class="img-responsive img-thumbnail">
				<div class="album-manage">
					<button type="button" class="delete-photo js-delete-photo">&times;</button>
					<button type="button" class="glyphicon glyphicon-paperclip js-main-photo main-photo">
				</div>
				<div class="reestablish">
					<button class="btn btn-default">Восстановить</button>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</main>
<!-- Modal -->
<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Добавить фотографию</h4>
	  </div>
        <form method="post" action="/gallery/photo/add" enctype="multipart/form-data">
		  <div class="modal-body">
			<div class="form-group">
                <input type="hidden" name="id" value="{{ gallary.id }}" required>
				<input type="text" name="title" required>
			</div>
			<input type="file" multiple>
		  </div>
		  <div class="modal-footer">
			<button type="reset" class="btn btn-default" data-dismiss="modal">Отменить</button>
			<button type="submit" class="btn btn-primary">Создать</button>
		  </div>
	  </form>
	</div>
  </div>
</div>

<script src="/static/js/slick.min.js"></script>
<script src="/static/js/gallery.js"></script>