<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					  <li class="active"><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
				  <h1>Контактная информация</h1>
				</div>
				<p>
					Телефон: +8787878787 <br>
					E-mail: some@email.com
				</p>
				<form action="" role="form">
					<h3>Напишите нам</h3>
					<div class="form-group">
						<label for="name">Имя</label>
						<input type="text" class="form-control" id="name" placeholder="Ваше имя" name="name" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Ваш e-mail" name="email" required>
					</div>
					<div class="form-group">
						<label for="tel">Телефон</label>
						<input type="tel" class="form-control" id="tel" placeholder="Ваш телефон" name="tel">
					</div>
					<div class="form-group">
						<label for="subject">Тема письма</label>
						<input type="text" class="form-control" id="subject" placeholder="Тема письма" name="subject" required>
					</div>
					<div class="form-group">
						<label for="message">Сообщение</label>
						<textarea class="form-control" id="message" placeholder="Сообщение" name="message" required></textarea>
					</div>
					<button type="submit" class="btn btn-default">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</main>
