<main>
	<div class="container">
		<div class="clearfix">
			<ul class="nav nav-tabs pull-left nav-justified">
			{% if not isResult  %}
				<li class="active"><a href="#periods" data-toggle="tab">Решения</a></li>
			{% else %}
				<li><a href="#solutions" data-toggle="tab">Решения</a></li>
				<li><a href="#graphics" data-toggle="tab">Графики</a></li>
			{% endif %}

			</ul>

		</div>
		<!-- Tab panes -->
		<div class="tab-content">
			{% if not isResult  %}
			<div class="tab-pane active" id="periods">
			  	<form action="/demo/result" method="post" id="resolve-period">
			  		<div class="row visible-md visible-lg">
			  			<div class="col-md-2 col-md-offset-4 center-text"><h4>Текущий период</h4></div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1 resolve-item">
			  				<span class="glyphicon glyphicon-info-sign help-btn"></span>
			  				<div class="hide help-pane">
			  					<p>Цена влияет на привлекательность продукции Вашей компании для потребителя.</p>
			  					<p>Устанавливается единая цена для всех рынков. Вы можете установить цену в пределах от a до b [Параметры a и b были определены Администратором при создании игры]. Цена устанавливается в тысячах рублей. Допустим ввод только целых значений. <a href="">Подробнее…</a></p>
			  				</div>
			  				Цена
			  			</div>
			  			<div class="col-md-2">
			  				<input class="form-control" name="cost" type="text">
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1"><h4 class="resolve-item">НИОКР</h4></div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1 resolve-item">Снижение себестоимости</div>
			  			<div class="col-md-2">
			  				<input class="form-control niokrSS" name="niokrSS" type="text" v-model="niokrSS" v-on:blur="sizeSS">
			  			</div>

			  			<div class="col-md-2 resolve-item">Себестоимость</div>
			  			<div class="col-md-2 previous ss" v-html="SS">0</div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1 resolve-item">Повышение качества</div>
			  			<div class="col-md-2">
			  				<input class="form-control niokrQuality" name="niokrQuality" type="text" v-model="niokrQuality" v-on:blur="sizeQuality">
			  			</div>
			  			<div class="col-md-2 resolve-item">Качество</div>
			  			<div class="col-md-2 previous quality" v-html="quality">0</div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-1"><h4 class="resolve-item">Объёмы рынков</h4></div>
						<div class="col-md-3"><h4 class="resolve-item">Заводы</h4></div>
			  		</div>
			  		<div class="row" v-bind:class="{ 'has-error': factories.isError }">
			  			<div class="col-md-1 previous">100</div>
			  			<div class="col-md-3 resolve-item">Северная Америка</div>
			  			<div class="col-md-2">
			  				<input class="form-control" name="NAFactory" type="text" v-on:blur="changeFactory(factories.NA)" v-model="factories.NA.val">
			  			</div>

			  			<div class="col-md-2 resolve-item">Изменение размеров</div>
			  			<div class="col-md-2 previous" v-html="factories.NA.change">0</div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1"><h4 class="resolve-item">Продвижение</h4></div>
			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1 resolve-item">Северная Америка</div>
			  			<div class="col-md-2">
			  				<input class="form-control promotionNA" name="NAPromotion" type="text" v-model="promotion.NA" v-on:blur="sizeBudget">
			  			</div>

			  		</div>
			  		<div class="row">
			  			<div class="col-md-3 col-md-offset-1 resolve-item">Израсходованный бюджет</div>
			  			<div class="col-md-2 previous" id="spent-budget-val" v-html="spentBudgetVal"></div>
			  			<div class="col-md-2 resolve-item">Доступный бюджет</div>
			  			<div class="col-md-2 previous allBudget">100</div>
			  		</div>
					<div class="alert alert-warning">
						<h4>Демо версия!</h4>
						<p>В данном разделе Вы можете попробовать принять решение.</p>
						<p>Продолжительность игровой сессии: 1 период</p>
			  		</div>
			  		<div class="alert alert-warning" v-if="spentBudgetVal < allBudget">
						<h4>ПРЕДУПРЕЖДЕНИЕ!</h4>
						<p>Вы израсходовали не весь доступный бюджет. Вы могли бы увеличить свои расходы</p>
			  		</div>
					<div class="alert alert-danger" v-if="spentBudgetVal > allBudget">
						<h4>Предупреждение!</h4>
						<p>Ваши затраты превышают допустимый бюджет.</p>
					</div>
			  		<button class="btn btn-primary center-block" type="submit" v-bind:disabled="factories.isError || spentBudgetVal > allBudget">Принять решение</button>
			  	</form>
			  </div>
			{% else %}
			<div class="tab-pane active" id="solutions">
			<form action="" id="change-table">
				<div class="table-responsive ">
					<table class="table table-condensed table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Компания</th>
							<th>Ваша компания</th>
							<th>Бот</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Цена продукции</th>
							{% for solution in previous_solution%}
								<td>{{solution.cost}}</td>
							{% endfor %}

						</tr>
						<tr>
							<th>Размер завода в СА</th>
							{% for solution in previous_solution%}
								<td>{{solution.NAFactory}}</td>
							{% endfor %}

								<!--&lt;!&ndash;<td>g12c1</td>&ndash;&gt;-->
							<!--&lt;!&ndash;<td>g12c2</td>&ndash;&gt;-->

						</tr>

						<tr>
							<th>Затраты на продвижение в СА</th>
							{% for solution in previous_solution%}
								<td>{{solution.NAPromotion}}</td>
							{% endfor %}

								<!--&lt;!&ndash;<td><span class="glyphicon glyphicon-ok"></span></td>&ndash;&gt;-->
							<!--&lt;!&ndash;<td><span class="error">90</span></td>&ndash;&gt;-->
						</tr>
						<tr>
							<th>Себестоимость</th>
							{% for solution in previous_solution%}
								<td>{{solution.Prime_cost}}</td>
							{% endfor %}
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
						</tr>
						<tr>
							<th>Качество</th>
							{% for solution in previous_solution%}
								<td>{{solution.mult_Quality}}</td>
							{% endfor %}
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->


						</tr>
						<tr>
							<th>Спрос в СА</th>
							{% for solution in previous_solution%}
								<td>{{solution.Demand_NA}}</td>
							{% endfor %}
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->
							<!--&lt;!&ndash;<td></td>&ndash;&gt;-->


						</tr>

						<tr>
							<th>Объем продаж в СА</th>
							{% for solution in previous_solution%}
								<td>{{solution.Sales_NA}} </td>
							{% endfor %}
							<!--<td></td>-->
							<!--<td></td>-->

						</tr>

						<tr>
							<th>Прибыль в отчетном периоде</th>
							{% for solution in previous_solution%}
								<td>{{solution.Profit}}</td>
							{% endfor %}
							<!--<td></td>-->
							<!--<td></td>-->

						</tr>
						<!--<tr>-->
							<!--<th>Общий объем прибыли</th>-->
							<!--<td></td>-->
							<!--<td></td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<th>Бюджет</th>-->
							<!--<td><span class="glyphicon glyphicon-ok"></span></td>-->
							<!--<td><span class="error">90</span></td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<th>Готовность</th>-->
							<!--<td><span class="glyphicon glyphicon-remove"></span></td>-->
							<!--<td><span class="glyphicon glyphicon-ok"></span></td>-->

						<!--</tr>-->
						<!--<tr>-->
							<!--<th>Место</th>-->
							<!--<td></td>-->
							<!--<td></td>-->
						<!--</tr>-->
					</tbody>
				</table>
				</div>
			</form>
		  </div>
		  	<div class="tab-pane" id="graphics">
			<ul class="nav nav-pills ">
			  <li class="active"><a href="#costSS" data-toggle="tab">Цены с/с</a></li>
			  <li><a href="#quality" data-toggle="tab">Качество</a></li>
			  <li><a href="#promotion" data-toggle="tab">Продвижение</a></li>
			  <li><a href="#demand" data-toggle="tab">Спрос</a></li>
			  <li><a href="#factories" data-toggle="tab">Заводы</a></li>
			  <li><a href="#sales" data-toggle="tab">Продажи</a></li>
			  <li><a href="#profit" data-toggle="tab">Прибыль</a></li>
			  <li><a href="#accrued-profit" data-toggle="tab">Накопленная прибыль</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="costSS"><canvas id="costSS-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="quality"><canvas id="quality-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="promotion"><canvas id="promotion-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="demand"><canvas id="demand-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="factories"><canvas id="factories-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="sales"><canvas id="sales-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="profit"><canvas id="profit-chart" width="600" height="400"></canvas></div>
				<div class="tab-pane" id="accrued-profit"><canvas id="accrued-profit-chart" width="600" height="400"></canvas></div>
			  </div>
		  </div>
			{% endif %}

		</div>
	</div>
</main>
<!-- Modal -->
<div class="modal fade" id="enterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Авторизация</h4>
	  </div>
	  <form action="">
		  <div class="modal-body">
			<div class="alert alert-danger">
				Неверный пароль
			</div>
			<div class="form-group">
				<label for="login">Логин</label>
				<input type="text" class="form-control" id="login" placeholder="Ваш логин" name="login" required>
			</div>
			<div class="form-group">
				<label for="password">Пароль</label>
				<input type="password" class="form-control" id="password" placeholder="Ваш пароль" name="password" required>
			</div>
			<p><a href="">Востановить пароль</a></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			<button type="submit" class="btn btn-primary">Войти</button>
		  </div>
	  </form>
	</div>
  </div>
</div>
<script>
	var Plant_Construction = 1.0;
	var Plant_Destruction = 0.333333;
	var Plant_Overheads = 0.2;
	var Prime_Coststart = 4.0;
	var Prime_Costbase = 33.3333;
	var Prime_Costcoef = 2.0;
    var Quality_Costbase = 33.3333;
    var Quality_Costcoef = 2.0;

    var Quality_Cost_Acc = Quality_Costbase;
    var Prime_Cost_Acc = Prime_Costbase;
</script>
<script src="/static/js/user-session.js"></script>