<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					  <li class="active"><a href="">Галерея</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
                    {% if current_user.isAdmin()%}
                        <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#newAlbumModal"><span class="glyphicon glyphicon-plus"></span> Добавить альбом</button>
                    {% endif %}

				  <h1>Фотографии последних событий</h1>
				</div>
				<div class="row">
                    {% for gallary in gallaries %}
                        <div class="col-md-6 js-album js-item" data-id="{{gallary[0].id}}">
                            {% if current_user.isAdmin()%}
                                <div class="album-manage">
                                    <button type="button" class="close" aria-hidden="true" data-toggle="modal" data-target="#deleteAlbumModal" data-item-id="{{ gallary[0].id }}" data-item-name="{{ gallary[0].title }}">&times;</button>
                                    <a class="glyphicon glyphicon-arrow-up js-up"></a>
                                    <a class="glyphicon glyphicon-arrow-down js-down"></a>
                                </div>
                            {% endif %}
                            <img src="/static/img/picturs/{{ gallary[1].path }}" alt="" class="img-responsive img-thumbnail">
                            <h4><a href="/galleries/{{ gallary[0].id }}/page/1">{{ gallary[0].title }}</a></h4>
                        </div>
                    {% endfor %}
                </div>
                <ul class="pagination">
                    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                    <a href="{% if pagination.has_prev %}/galleries/page/{{pagination.page - 1}}{% else %}#{% endif %}"> &laquo;
                    </a> </li>
                        {% for p in pagination.iter_pages() %}
                            {% if p %}
                                {% if p == pagination.page %}
                    <li class="active">
                    <a href="/galleries/page/{{p}}">{{ p }}</a>
                    </li>
                    {% else %}
                    <li>
                    <a href="/galleries/page/{{p}}">{{ p }}</a>
                    </li>
                                {% endif %}
                            {% else %}
                    <li class="disabled"><a href="#">&hellip;</a></li>
                            {% endif %}
                        {% endfor %}
                    <li{% if not pagination.has_next %} class="disabled"{% endif %}> <a href="{% if pagination.has_next %}/galleries/page/{{pagination.page + 1 }}{% else %}#{% endif %}">
                    &raquo;
                    </a> </li>
                </ul>
			</div>
		</div>
	</div>
</main>

<!-- Modal -->
<div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Создать новость</h4>
	  </div>
	  <form method="post" action="/gallaries/add" enctype="multipart/form-data">
		  <div class="modal-body">
			<div class="form-group">
				<label>Название альбома</label>
				<input type="text" name="title" class="form-control">
			</div>
			<input type="file" name="file" multiple>
		  </div>
		  <div class="modal-footer">
			<button type="reset" class="btn btn-default" data-dismiss="modal">Отменить</button>
			<button type="submit" class="btn btn-primary">Создать</button>
		  </div>
	  </form>
	</div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade js-delete-modal" id="deleteAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Подтверждение</h4>
	  </div>
	  <form action="">
		  <div class="modal-body">
			Вы точно хотите удалить альбом <span id="item-name-text"></span> / <span id="item-id-text"></span>?
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
			<button type="submit" class="btn btn-primary">Удалить</button>
		  </div>
	  </form>
	</div>
  </div>
</div>
<script src="/static/js/gallery-move.js"></script>