<header class="header">
    <div class="container">
        <img src="/static/img/logo.jpg" alt="">
    </div>
    <nav  class="navbar navbar-default" role="navigation">
        <div class="container clearfix">
            <ul class="navbar-nav pull-left nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      О компании <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="">Краткое описание</a></li>
                      <li><a href="">Наша команда</a></li>
                      <li><a href="">Образовательным учреждениям</a></li>
                      <li><a href="">Учащимся</a></li>
                      <li><a href="">Нас рекомендуют</a></li>
                      <li><a href="">Партнеры</a></li>
                    </ul>
                </li>
                <li class="active"><a href="">Услуги / Цены</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Галерея</a></li>
                <li><a href="">Демо</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
            <button class="pull-right btn btn-default" data-toggle="modal" data-target="#enterModal">Войти</button>
        </div>
    </nav>
</header>