<header class="header">
    <div class="container">
        <img src="/static/img/logo.jpg" alt="">
    </div>
    <nav  class="navbar navbar-default" role="navigation">
        <div class="container clearfix">
            <ul class="navbar-nav pull-left nav">
                <li class="dropdown {{ about_page }}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      О компании <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/decription">Краткое описание</a></li>
                      <li><a href="/team">Наша команда</a></li>
                      <li><a href="/organizations">Образовательным учреждениям</a></li>
                      <li><a href="/students">Учащимся</a></li>
                      <li><a href="/recommendation">Нас рекомендуют</a></li>
                      <li><a href="/partners">Партнеры</a></li>
                    </ul>
                </li>
                <li class="{{ cost_page }}"><a href="/services">Услуги / Цены</a></li>
                <li class="{{ news_page }}"><a href="/news/page/1">Новости</a></li>
                <li class="{{ galleries_page }}"><a href="/galleries/page/1">Галерея</a></li>
                <li class="{{ demo_page }}"><a href="/demo">Демо</a></li>
                <li class="{{ contacts_page }}"><a href="/сontacts">Контакты</a></li>
            </ul>
            {% if current_user.is_authenticated %}
                {% if isAdmin %}
                    <a href="/game/page/1" class="btn btn-primary pull-right">Сессия</a>
                {% else %}
                    <a href="/play/1" class="btn btn-primary pull-right">Сессия</a>
                {% endif %}
                <a href="/logout" class="btn btn-default pull-right">Выход</a>
            {% else %}
                <button class="pull-right btn btn-default" data-toggle="modal" data-target="#enterModal">Войти</button>
            {% endif %}
        </div>
    </nav>
</header>

<div class="modal fade" id="enterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Авторизация</h4>
	  </div>
	  <form method="post" action="/login" id="login-form">
		  {{ form.csrf_token }}
		  <div class="modal-body">
			<div class="alert alert-danger hide login-error">
				Неверный пароль
			</div>
			<div class="form-group">
				{{ form.login.label}}
				{{ form.login(class_="form-control")}}
				<!--<input type="text" class="form-control" id="login" placeholder="Ваш логин" name="login" required>-->
			</div>
			<div class="form-group">
				{{ form.password.label}}
				{{ form.password(class_="form-control")}}
				<!--<input type="password" class="form-control" id="password" placeholder="Ваш пароль" name="password" required>-->
			</div>
			<p><a href="">Востановить пароль</a></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			{{ form.submit(class_="btn btn-primary")}}
			<!--<button type="submit" class="btn btn-primary">Войти</button>-->
		  </div>
	  </form>
	</div>
  </div>
</div>
