<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					  <li class="active"><a href="">Справка</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="helps" id="">
					<h3>Рынок</h3>
					<p>Ваша компания работает в следующих регионах [далее набор рынков в зависимости от настроек администратора на игру]:</p>
					<ul>
						<li>Северная Америка</li>
						<li>Европа</li>
						<li>Азия</li>
					</ul>
					<p>На рынке работает большое количество компаний-конкурентов, которые производят и продают аналогичную продукцию.</p>
				</div>
				<div class="helps" id="volume">
					<h3>Объем рынков</h3>
					<p>Объем рынков показывает, сколько продукции готовы купить потребители в каждом из регионов в предстоящем периоде. Значение представлено в тысячах штук. Весь спрос распределяется между компаниями-конкурентами в зависимости от цены и качества продукции, а также от затрат на продвижение [набор в справке зависит от настроек администратора при создании игры].</p>
				</div>
				<div class="helps" id="solutions">
					<h3>Решения</h3>
					<p>Каждый период Ваша компания принимает ряд управленческих решений [далее набор представленных решений в справке зависит от настроек администратора на игру]</p>
					<p>Каждый период Вам выделяют Доступный бюджет – сумму в 100 миллионов рублей [значение зависит от настроек администратора при создании игры], которую может потратить компания в предстоящем периоде на научно-исследовательские разработки, заводы и продвижение.</p>
					<p>Изменяя решения, Вы можете увидеть Израсходованный бюджет – сумму, которую Вы потратите в соответствии с введенными решениями. Она не должна превышать Доступный бюджет. Значение представлено в миллионах рублей.</p>
				</div>
				<div class="helps" id="cost">
					<h3>Цена</h3>
					<p>Цена влияет на привлекательность продукции Вашей компании для потребителя. Устанавливается единая цена для всех рынков. Вы можете установить цену в пределах от a до b [Параметры a и b были определены Администратором при создании игры]. Цена устанавливается в тысячах рублей. Допустим ввод только целых значений.</p>
					<p>Снижение цены при прочих равных приводит к увеличению спроса на продукцию компании, повышение цены ведет к обратному эффекту. Снижение цены на каждую тысячу рублей приводит при прочих равных к увеличению привлекательности продукции компании в 1 / Pricecoef [значение представлено в виде числа в соответствии с настройками администратора в форме «0,0»] раз. Привлекательность продукции компании при прочих равных представлено на графике ниже.</p>
					<img src="" alt="">
				</div>
				<div class="helps" id="niokr">
					<h3>НИОКР</h3>
					<p>Вы можете установить уровень затрат на научно-исследовательские разработки в направлении снижения себестоимости продукции или повышения ее качества. Затраты носят накопительный характер.</p>
				</div>
				<div class="helps" id="ss">
					<h3>Снижение себестоимости</h3>
					<p>Себестоимость единицы продукции – объем затрат при изготовлении единицы продукции.</p>
					<p>Вы можете установить уровень затрат на научно-исследовательские разработки в направлении снижения себестоимости продукции. При этом можно сразу увидеть прогноз себестоимости продукции, которого удастся достичь при определенном уровне затрат. Компания будет продавать продукцию по более низкой себестоимости в том же периоде, когда выполняются научно-исследовательские разработки. Значение устанавливается в миллионах рублей. Допустим ввод только целых значений.</p>
				</div>
				<div class="helps" id="quality">
					<h3>Повышение качества</h3>
					<p>Уровень качества влияет на привлекательность продукции Вашей компании для потребителя. Потребители более охотно готовы покупать продукцию более высокого качества.</p>
					<p>Вы можете установить уровень затрат на научно-исследовательские разработки в направлении повышения качества продукции. При этом можно сразу увидеть прогноз качества продукции, которого удастся достичь при определенном уровне затрат. Компания будет продавать продукцию более высокого качества в том же периоде, когда выполняются научно-исследовательские разработки. Значение устанавливается в миллионах рублей. Допустим ввод только целых значений.</p>
				</div>
				<div class="helps" id="factory">
					<h3>Заводы</h3>
					<p>Вы устанавливаете конечное значение максимальной мощности завода. За один период возможно изменение размера только одного завода.</p>
					<p>Увеличение / сокращение размера завода приводит к дополнительным затратам. Так, увеличение размера завода на каждую 1 тысячу штук обойдется компании в 1 миллион рублей [значения берутся из базовых настроек игры в ходе создания ее администратором], а сокращения размера завода на каждые 3 тысячи штук обойдется компании в 1 миллион рублей [значения берутся из базовых настроек игры в ходе создания ее администратором] (округление происходит в большую сторону до целых).</p>
					<p>Также предприятие несет дополнительные накладные расходы на содержание завода, которые составляют 1 миллион рублей за каждые 5 тысяч штук мощности завода [значения берутся из базовых настроек игры в ходе создания ее администратором] (округление происходит в большую сторону до целых).</p>
					<p>В течение периода возможно изменение размера только одного завода. Продукция, произведенная на заводе, может быть продана только в регионе, где происходит ее производство, транспортировка между регионами не предусмотрена. Завод производит продукцию в соответствии со спросом, если спрос не превышает максимальную производительность завода. Производство на склад не предусмотрено. Завод может производить объем продукции согласно максимально установленной мощности в период принятия решения.</p>
				</div>
				<div class="helps" id="promotion">
					<h3>Продвижение</h3>
					<p>Вы устанавливаете размер расходов на продвижение продукции. Затраты на продвижение включают рекламу и организацию продаж, что влияет на привлекательность и доступность продукции Вашей компании для потребителя. Затраты на продвижение в одном регионе влияют на привлекательность и доступность продукции только в этом регионе. Значение устанавливается в миллионах рублей. Допустим ввод только целых значений.</p>
				</div>
				<div class="helps" id="button">
					<h3>Принять решение</h3>
					<p>Нажимая кнопку «Принять решение», Вы отправляете свое решение. До истечения времени периода корректировать и отправлять свое решение можно неограниченное количество раз. При этом Вы можете увидеть ряд предупреждений, некоторые из которых носят рекомендательный характер (зеленый цвет), другие требуют исправить Ваше решение (красный цвет), чтобы решение было сохранено.</p>
				</div>
				<div class="helps" id="">
					<h3>Отчет</h3>
					<p>По истечении каждого периода компания получает отчет, в котором представлены основные результаты деятельности всех компаний.</p>
				</div>
				<div class="helps" id="">
					<h3>Спрос на продукцию компании</h3>
					<p>Количество продукции компании, которое захотели купить потребители в каждом из регионов в анализируемом периоде. Спрос на продукцию компании зависит в каждом регионе от объема рынка в представленном регионе, установленной цены, качества продукции и затрат на продвижение в представленном регионе [набор представленных параметров зависит от настроек игры администратором]. Значение представлено в тысячах штук.</p>
				</div>
				<div class="helps" id="">
					<h3>Объем продаж</h3>
					<p>Количество проданной продукции компании в каждом из регионов в анализируемом периоде исходя из спроса и производственных возможностей компании в представленном регионе. Если спрос превышает производственные возможности компании, то количество проданной продукции будет соответствовать объему, который компания способна произвести. Если спрос меньше производственных возможностей компании, то количество произведенной и проданной продукции будет соответствовать спросу.</p>
					<p>Значение представлено в тысячах штук.</p>
				</div>
				<div class="helps" id="">
					<h3>Прибыль в отчетном периоде</h3>
					<p>Прибыль компании в анализируемом периоде.</p>
					<p>Прибыль = (Цена – Себестоимость) * Объем продаж – Израсходованный бюджет</p>
					<p>Значение представлено в миллионах рублей.</p>
				</div>
				<div class="helps" id="">
					<h3>Общий объем прибыли</h3>
					<p>Прибыль компании за все предыдущие периоды, включая анализируемый период. Значение представлено в миллионах рублей.</p>
					<p>Общий объем прибыли – главный критерий успешности компании. Победитель определяется по данному показателю после завершения последнего периода.</p>
				</div>
			</div>
		</div>
	</div>
</main>
