
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="">Краткое описание</a></li>
					  <li class="active"><a href="">Наша команда</a></li>
					  <li><a href="">Образовательным учреждениям</a></li>
					  <li><a href="">Учащимся</a></li>
					  <li><a href="">Нас рекомендуют</a></li>
					  <li><a href="">Партнеры</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
				  <h1>Наша команда</h1>
				</div>
				<div class="content-area">
					<button class=" btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<div class="media">
					  <a class="pull-left" href="#">
						<img class="media-object" src="/static/img/p1.jpg" alt="...">
					  </a>
					  <div class="media-body">
						<h4 class="media-heading">Чуваев Алексей</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, enim.</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Modal -->
