<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					  <li class="active"><a href="">Новости</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				{%if isAdmin %}
				<div class="page-header">
				  <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#newNewsModal"><span class="glyphicon glyphicon-plus"></span> Добавить новость</button>
				  <h1>Новости</h1>
				</div>
				{% endif %}
				{% for new in news %}
				<div class="news">
					<div class="news__title clearfix">
						<h4 class="pull-left" id="{{new.id}}">{{new.title}}</h4>
						{%if isAdmin %}
							<button type="button" class="close pull-right" aria-hidden="true" data-toggle="modal" data-target="#deleteNewsModal">&times;</button>
						{% endif %}
						<span class="pull-right news__date">{{new.timestamp}}</span>
					</div>
					<div class="news__content"><p> {{new.body}} </p></div>
				</div>
				{% endfor%}
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
<!-- Modal -->
<div class="modal fade" id="newNewsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Создать новость</h4>
	  </div>
	  <form action="/news/add" method="post">
		  <div class="modal-body">
			<div class="form-group">
				{{ form.date.label}}
				{{ form.date(class_="form-control",id="js-news-data")}}
				<!--<label>Дата</label>-->
				<!--<input type="date" class="form-control">-->
			</div>
			<div class="form-group">
				{{ form.title.label}}
				{{ form.title(class_="form-control")}}
				<!--<label>Заголовок новости</label>-->
				<!--<input type="text" class="form-control">-->
			</div>
			<div class="form-group">
				{{ form.text.label}}
				{{ form.text(class_="form-control")}}
				<!--<textarea class="form-control"></textarea>-->
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
			{{ form.submit(class_="btn btn-primary")}}
			<!--<button type="submit" class="btn btn-primary">Создать</button>-->
		  </div>
	  </form>
	</div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteNewsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Подтверждение</h4>
	  </div>
	  <div class="modal-body">
		Вы точно хотите удалить новость ?
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<button type="submit" class="btn btn-primary">Удалить</button>
	  </div>
	</div>
  </div>
</div>
<script src="/static/js/jquery-ui.min.js"></script>
<script>
	$(document).ready(function(){
	console.log($('#js-news-data'));
		$('#js-news-data').datepicker();
	});
</script>