<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="">Краткое описание</a></li>
					  <li><a href="">Наша команда</a></li>
					  <li><a href="">Образовательным учреждениям</a></li>
					  <li><a href="">Учащимся</a></li>
					  <li><a href="">Нас рекомендуют</a></li>
					  <li class="active"><a href="">Партнеры</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
				  <h1>Партнеры</h1>
				</div>
				<div class="content-area">
					<button class=" btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<div class="row">
						<div class="col-md-3">
							<img src="static/img/p2.jpg" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ab?</p>
						</div>
						<div class="col-md-3">
							<img src="static/img/p2.jpg" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ab?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
