<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="">Краткое описание</a></li>
					  <li><a href="">Наша команда</a></li>
					  <li><a href="">Образовательным учреждениям</a></li>
					  <li><a href="">Учащимся</a></li>
					  <li><a href="">Нас рекомендуют</a></li>
					  <li class="active"><a href="">Партнеры</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
					{%if isAdmin %}
					<button class="pull-right btn btn-primary" data-toggle="modal" data-target="#newPartnerModal"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
					{% endif %}
				  <h1>Партнеры</h1>
				</div>
				<div class="content-area">
					<!--<button class=" btn btn-default" data-target=""><span class="glyphicon glyphicon-pencil"></span></button>-->

					<div class="row">
						{% for item in partners %}
						<div class="col-md-3" id="{{item.id}}">
							<img src="/static/img/picturs/{{item.picture}}" style="height: 150px" alt="">
							{%if isAdmin %}
								<button type="button" class="close pull-right" aria-hidden="true" data-toggle="modal" data-target="#deletePartnerModal">&times;</button>
							{% endif %}
							<p>{{item.name}}</p>
						</div>
						{% if loop.index / 3 == 1 %}
						</div>
						<div class="row">
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="modal fade" id="newPartnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Подтверждение</h4>
	  </div>
	  <form method="post" action="/partner/add" enctype="multipart/form-data">
		  <div class="modal-body">
			<div class="form-group">
				<label for="description">Описание</label>
				<input type="text" class="form-control" id="description" placeholder="Описание" name="description" required>
			</div>
			<div class="form-group">
				<label for="file">Обложка</label>
				<input type="file" id="file" name="file" required>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			<button type="submit" class="btn btn-primary">Добавить</button>
		  </div>
	  </form>
	</div>
  </div>
</div>


<div class="modal fade" id="newPartnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Подтверждение</h4>
	  </div>
	  <div class="modal-body">
		Вы точно хотите удалить запись?
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<button type="submit" class="btn btn-primary">Удалить</button>
	  </div>
	</div>
  </div>
</div>