<main>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
				  <li><a href="/decription">Краткое описание</a></li>
				  <li><a href="/team">Наша команда</a></li>
				  <li><a href="/organizations">Образовательным учреждениям</a></li>
				  <li><a href="/students">Учащимся</a></li>
				  <li><a href="">Нас рекомендуют</a></li>
				  <li><a href="/partners">Партнеры</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="page-header">
					{%if isAdmin %}
					<div class="pull-right">
						<button class="btn btn-default" data-toggle="modal"  data-target="#editPageModal"><span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					{% endif %}
				  <h1>{{page.title}}</h1>
				</div>
				<div class="content-area">

					<div class="row">
						<p>{{page.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<div class="modal fade" id="editPageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Редактирование</h4>
	  </div>
	  <form method="post" action="/static/edit/{{ page.id }}">
		  <div class="modal-body">
			<div class="form-group">
				<label for="description">Описание</label>
				<textarea type="text" class="form-control" id="description" placeholder="Описание" name="description" required>{{ page.text }}</textarea>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			<button type="submit" class="btn btn-primary">Изменить</button>
		  </div>
	  </form>
	</div>
  </div>
</div>
<script src="/static/js/jquery.cleditor.min.js"></script>
<script>
	$(document).ready(function () { $("#description").cleditor(); });
</script>